/*utilizar variables globales*/
:root {
  --back-color1: #d2e288;
  --back-color2: #94c55c;
  --text-color: #333;
  --text: Bahnschrift;
}
body {
  background-color: var(--back-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  font-family: var(--text);
  background-color: var(--back-color2);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  text-align: center;
}